@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0e0e0e;
  color: white;
}

.container {
  display: flex;
  width: 65vw;
  height: auto;
  background-color: #000000;
}

.first {
  width: 17vw;
}

.logo {
  width: 6vh;
  height: auto;
  padding-left: 0.9rem;
}

.sidebar {
  width: 250px;
  padding-left: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  font-size: 1rem;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 18px;
}

.btn button {
  width: 11vw;
  padding: 8px;
  margin: 1.5rem;
  border-radius: 1rem;
  background-color: #4a99e9;
  color: white;
  border: none;
  font-weight: 600;
}

.second {
  width: 28vw;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.head {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 5px 8px;
  background: black;
  color: white;
  border-bottom: 1px solid #2f3336;
}

.head .material-symbols-outlined {
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.name {
  display: flex;
  flex-direction: column;
}

.profile-name {
  display: flex;
  align-items: center;
  gap: 2px;
}

.profile-name h3 {
  font-size: 14px;
  font-weight: bold;
}

.profile-name .material-symbols-outlined {
  font-size: 14px;
  color: #FFD700;
}

h6 {
  font-size: 10px;
  color: gray;
  margin-left: 12px;
}

.cover_pic {
  margin: 0;
}

.cover_pic img {
  width: 28vw;
  aspect-ratio: 2/1;
}

.logo2 {
  position: absolute;
  top: 22%;
  width: 8vw;
}

.side {
  display: flex;
  gap: 0.7rem;
  position: absolute;
  top: 34%;
  left: 51%;
}

.side .material-symbols-outlined {
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.side h6 {
  width: 5vw;
  text-align: center;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  cursor: pointer;
}

.profile-container {
  width: 310px;
  background-color: black;
  padding: 8px;
  border-radius: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.verified-badge {
  width: 14px;
  height: 14px;
}

.username {
  color: gray;
  font-size: 10px;
}

.bio {
  font-size: 16px;
  margin-top: 10px;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  color: gray;
  font-size: 12px;
}

.profile-info span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.profile-info a {
  color: #1d9bf0;
  text-decoration: none;
}

.profile-info a:hover {
  text-decoration: underline;
}

.follow-stats {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.follow-stats span {
  font-weight: bold;
}

.followers-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

.followers-info img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.header {
  border-bottom: 1px solid gray;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header ul li {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-size: 12px;
}

.header ul li:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: blue;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.content-logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 5px;
}

.logo3 {
  width: 2vw;
  height: auto;
  padding: 4px;
}

.profile-header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  font-weight: bold;
}

.verified-badge1 {
  width: 12px;
  height: 12px;
}

.username1 {
  color: gray;
  font-size: 8px;
}

.para {
  position: absolute;
  top: 81%;
  left: 37%;
  width: 23vw;
  height: auto;
}

.para span {
  font-size: 12px;
}

.third {
  margin: 5px;
}

.sidebar {
  width: 215px;
}

.search-bar {
  background: #16181c;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.search-bar span {
  font-size: 15px;
  padding-left: 4px;
  color: gray;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 10px;
}

.search-bar input::placeholder {
  color: gray;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 15px;
}

.media-grid img {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card {
  background: #16181c;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card strong {
  font-size: 10px;
}

.live-item {
  display: flex;
  align-items: start;
  justify-content: space-around;
  margin: 8px;
}

.live-item .avatars {
  display: flex;
  align-items: center;
  margin: 8px;
  border: 2px solid #6b51e3;
  border-radius: 2rem;
  padding: 3px;
  background-color: black;
}

.live-item .avatars img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-left: -5px;
}

.live-item strong {
  font-size: 10px;
}

.live-item span {
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 10px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.profile-name small {
  color: gray;
}

.follow-btn {
  background: white;
  color: black;
  border: none;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}

.show-more {
  color: #1d9bf0;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
}

.my-profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.my-profile-info {
  display: flex;
  align-items: center;
  gap: 2px;
}

.my-profile img {
  object-fit: cover;
  margin: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.my-profile-name {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.my-profile-name small {
  color: gray;
}

.follow-dot {
  color: rgb(255, 255, 255);
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
